db/data/*
python/files/*.mp4
**/__pycache__/
app/.DS_Store
TrainingCamp.pem
auth_keys.py
app/my-vue-app/con.txt

"site": "myj-videogram",

{
  "hosting": {
    "site": "myj-videogram",

    "public": "public",
    ...
  }
}

firebase deploy --only hosting:myj-videogram