{% extends "layout.html" %}
{% block content %}
<br>
<div class="row">
  <div class="col-md-10">
    <h1>ようこそ、{{ id }}さん</h1>
  </div>
  <div class="com-md-2">
    <form action="/posts/upload" method="post">
      <label for="username">ユーザーID:
        <input id="" type="text" name="USER_ID">
      </label>
      <br/>
      <label>URL:
        <input id="" type="text" name="YOUTUBE">
      </label>
      <br>
      <label>キャプション:
        <input id="" type="text" name="CAPTION">
      </label>
      <label>タイトル:
        <input id="" type="text" name="TITLE">
      </label>
      <input type="submit" value="login">
    </form>
  </div>

</div>


{% endblock %}